body {
	font-family:Ubuntu Medium;
	margin:0 auto;
}

.clearfix::after{   /*清除float*/
	content:"";
	display:block;
	clear:both;
}


header {
	background-color:#263f44;
}

header .logo {
	text-align:center;
}

.inner_header {
	padding-top:40px;
	padding-bottom:80px;
}

.logo a {
	font-family: Nanum Brush Script;
	font-size:2.5rem;
	text-decoration:none;
	color:#fff1cf;
}
.logo a span {
	font-size:0.8rem;
	text-align:center;
}
header nav {
	display:block;
	margin-top:10px;
}
header nav ul {
	display:block;
	text-align:center;
}

header nav ul li{
	list-style:none;
	padding:0;
}
header nav ul li a{
	color:#fff1cf;
	font-family:Ubuntu;
	font-size:1.2rem;
}

header nav ul li a:hover{
	text-decoration:none;
	color:#ffd369;
}
header .btn_right {
	padding-left:20px;
	padding-top:20px;
	text-align:center;
}
.btn_right a {
	color:#f9f6f7;
	font-size:1.2rem;
	padding:20px 25px;
	background-color:#ffd369;
}
.btn_right a:hover {
	text-decoration:none;
}

/*背景照片*/

div.main {
	background:black url('../../style/hotel-idyllic.jpg') top center no-repeat;
	background-size:cover;
}

.main h1 {
	color:#fff;
	font-size:75px;
	font-weight:600;
	letter-spacing:10px;
	font-family:Amaranth;
}

#overlay{
	background-color:rgba(0,0,0,0.4);
	padding:200px 0;
}

div.search h4 {
	color:#fff;
	text-align:left;
}

div.search p {
	margin-top:16px;
}

div.search {
	background-color:rgba(0,0,0,0.5);
	padding:57px;
	margin:0 -50px;
}

.search .form .block, .block2 {
	/*float:left;*/
	background-color:#fff;
	margin-bottom:38px;
	padding:15px;
	
	
}

.search .form .block:nth-child(5){
	padding-top:8px;
}

.search .form .block2 {
	
}

.search .form .block2 .qtn {
	float:left;
	width: 33%;
}

.block2 .qtn input{
	width:50%;

}

.search_btn2 {
	text-align:center;
}

.form form button{
	background-color:#ffd369;
	color:#fff;
	border:none;
	padding:20px 100px;
}

/*article*/

div.article {
	padding:100px;
}

div.outborder{
	border:15px solid #ffd369;
	padding:20px;

}

div.outborder .text{
	padding:10px;
}

div.outborder .text h4 {
	color:#707070;
	font-size:0.9rem;
}
div.outborder .text h2 {
	font-size:3rem;
	letter-spacing:2px;
	padding-bottom:30px;
}
div.text2 {
	padding-top:50px;
}
.text2 button {
	color:#f9f6f7;
	font-size:1.2rem;
	padding:20px 25px;
	background-color:#ffd369;
	border:none;
	margin-top:30px;
}
#overlay2 {
	background-color:rgba(0,0,0,0.4);
	padding: px 0;
}
/*pic*/


div.pic .left {
	background: url('../../style/hotel-idyllic.jpg')top center no-repeat;
	background-size:cover;
	padding:0;
}
div.pic .right {
	background:#ccc url('../../style/hotel_banner.jpg')top center no-repeat;
	background-size:cover;
	padding:0;
	position:relative;
}
div.deep {
	padding:20px 55px;
}
div.deep .title{
	padding:50px 0 400px 0;
	color:#fff;
	font-family:Ubuntu Light;
}
div.deep .title h2 {
	font-size:3rem;
	font-style:normal;
}
div.icon {
	color:#fff;
	font-size:2rem;
	text-align:center;
	letter-spacing:10px;
	position:absolute;
	right:100px;
	top:500px
}

.deep .btn {
	padding:20px 0 50px 0;
}

.deep button {
	border:3px solid #fff;
	color:#fff;
	background-color:transparent;
	padding:25px 40px;
	font-family:Ubuntu Light;
	font-size:1.2rem;
}

.deep button:hover {
	background-color:rgba(255,255,255,0.4);
	color:rgba(255,255,255,0.8);
	border:3px solid rgba(255,255,255,0);
}
/*guest book*/

.guestbook {
	padding:100px 0;
}

.feedback h1 {
	font-weight:500;
	font-size:3.8rem;
	padding-bottom:50px;
}
.feedback p{
	color:#707070;
	font-size:0.8rem;
}

.feedback article{
	color:#707070;
}

.rating i {
	color:#ed8a19;
}

.customer {
	padding-top:40px;
}
.customer img {
	width:54px;
	height:54px;
	float:left;
	
}
.customer .name {
	float:left;
	margin-left:10px;
}
.name h6 {
	color:#ffd369;
}
.name span {
	color:#707070;
	font-size:0.8rem;
}

.guestbook .container .row .col-lg-6:nth-child(2) {
	padding-top:125px;
}

/*video_bg*/

div.video_bg {
	background: #ccc url('../../style/hroom (2).jpg') top center no-repeat;
	background-size:cover;
	padding:300px;
}
div.video {
	background: url('../../style/hotelroom.jpg') top center no-repeat;
	background-size:cover;
	height:650px;
	position:relative;
	margin-top:-300px;
}
.video .video_text {
	background-color:#fff;
	height:100px;
	width:100px;
	border-radius:50px;
	position:absolute;
	left:50%;
	top:50%;
}
.video .video_text i {
	font-size:2.5rem;
	padding:30px 35px;
	color:#ed8a19;
}

/*4pic*/

div.pic4 {
	padding:80px 0;
}
.about_text h2 {
	font-size:2.8rem;
	margin:0;
}
.about_text article {
	color:#707070;
	padding:35px 0;
}

.about_pic {
	padding:20px 20px;
}

.about_pic .img{
	width:100%;	
	padding:10px;
}
.about_pic .img img {
	width:100%;
}

.about_text button {
	color:#f9f6f7;
	font-size:1.2rem;
	padding:20px 25px;
	background-color:#ffd369;
	border:none;
	margin-top:30px;
}

/*footer*/

.footer {
	background-color:#3a3535;
}
.footer .container {
	padding:50px 0;
}
.footer p {
	color:#cccccc;
}
.footer div h6 {
	color:#ffd369;
	font-size:1.2rem;
	padding:10px 0 30px 0;
}
.footer .search2{
	position:relative;
}
.footer input {
	border:none;
	font-style:italic;
	font-size:15px;
	text-indent:10px;
	padding:10px;
	width:70%;
	border-radius: 21px 0 0 21px;
}
.footer button {
	border:none;
	height:42px;
	padding: 0 10px 0 10px;
	display:inline-block;
	position:absolute;
	border-radius: 0 21px 21px 0;
	background-color:#ffd369;
	color:#fff;
}

.footer div ul {
	color:#cccccc;
	list-style:none;
	letter-spacing:1px;
	padding:0;
}
.footer div ul i {
	padding-right:10px;
	color:#ffd369;
}
.footer div ul span {
	padding-left:25px;
}

/*footer p2*/

footer {
	background-color:#000;
}
footer ul {
	float:right;
	margin:0;
	padding:30px 0;
}
footer ul li{
	display:inline-block;
	list-style:none;
	padding-right:20px;
}
footer ul li a {
	color:#fff1cf;
	font-family:Ubuntu;
	font-size:0.98rem;
	position:relative;
	display:inline-block;
	padding: 5px 0;
}
footer div p {
	margin:0;
	font-family:Ubuntu Light;
	color:#ececec;
}